<mat-card class="m-3">
  <div class="container">
    <div class="row my-3">
      <div class="col d-flex align-items-center justify-content-center">
        <mat-icon mat-list-icon>file_download</mat-icon>
        <a
          color="primary"
          [href]="questionaireFormUrl"
          target="_blank"
          class="link ml-3"
          >Форма анкеты</a
        >
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <mat-icon mat-list-icon>file_download</mat-icon>
        <div mat-line>
          <a
            color="primary"
            [href]="applicationFormUrl"
            target="_blank"
            class="link ml-3"
            >Форма заявки</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-list>
          <div class="mat-subheading-1">Перечень документов для ЮЛ</div>
          <mat-list-item *ngFor="let file of ulFiles">
            <mat-icon mat-list-icon>file_download</mat-icon>
            <div mat-line>
              <a
                [href]="fileServerRootUrl + '/' + file.url"
                target="_blank"
                class="link"
                >{{ file.filename }}</a
              >
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col">
        <mat-list>
          <div class="mat-subheading-1">
            Перечень документов для ИП, КХ, ФХ, КФХ
          </div>
          <mat-list-item *ngFor="let file of flFiles">
            <mat-icon mat-list-icon>file_download</mat-icon>
            <div mat-line>
              <a
                [href]="fileServerRootUrl + '/' + file.url"
                target="_blank"
                class="link"
                >{{ file.filename }}</a
              >
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <mat-list>
          <div class="mat-subheading-1">Прикрепленные файлы (документы)</div>
          <mat-list-item *ngFor="let file of attachmentFiles">
            <mat-icon mat-list-icon>file_download</mat-icon>
            <div mat-line>
              <a
                [href]="fileServerRootUrl + '/' + file.url"
                target="_blank"
                class="link"
                >{{ file.filename }}</a
              >
              <button
                mat-icon-button
                color="accent"
                class="mx-4"
                matTooltip="Удалить"
                aria-label="delete icon button"
                [disabled]="loading || isReadOnly"
                (click)="onFileDelete(file.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
          class="my-3"
        ></mat-progress-bar>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <button
          mat-raised-button
          color="primary"
          (click)="uploadButtonClick()"
          [disabled]="loading || signing || isReadOnly"
        >
          Загрузить
        </button>
        <input
          #attachmentFilesInput
          type="file"
          id="attachmentFilesInput"
          class="d-none"
          (change)="onFileInputChange($event.target.files)"
          multiple
        />
      </div>
      <div class="col">
        <button
          mat-raised-button
          color="primary"
          class="float-right"
          (click)="signAndStartProcess()"
          [disabled]="loading || signing || isReadOnly"
        >
          Подписать
        </button>
      </div>
    </div>
  </div>
</mat-card>

<section id="application" class="d-none">
  <div>
    <div class="header-container">
      <h3>Заявление</h3>
    </div>

    <p>
      Настоящим прошу АО «КазАгроФинанс» (далее – Общество) произвести сбор
      информации для рассмотрения моей заявки на финансирование в Обществе.
    </p>

    <p>
      Настоящим подтверждаю и гарантирую, что ознакомлен с содержанием
      настоящего Заявления, условиями финансирования и требованиями Общества.
      полностью понимаю и принимаю их и даю нижеследующее согласие.
    </p>

    <div class="header-container">
      <h3>Согласие</h3>
    </div>

    <p>
      Настоящим Я, предоставляю свое согласие акционерному обществу
      «Национальный управляющий холдинг 'КазАгро» и /или любой его дочерней
      организации, в том числе АО «КазАгроФинанс» (далее – Компания) и лицам,
      связанным, как в настоящее время, так и в будущем, с Компанией
      обстоятельствами или правоотношениями, а также лицам, которые имеют и/или
      могут иметь отношения к заключению и/или исполнению и/или техническому
      обслуживанию любых сделок/операций, заключенных (которые возможно будут
      заключены) между мной и Компанией, на сбор, обработку, распространение,
      хранение и использование, любым допускаемым законодательством Республики
      Казахстан способом моих персональных данных и сведений о моих близких
      родственниках, на предоставление информации обо мне в кредитные бюро и
      выдачу кредитного отчета из кредитных бюро (включая данные, которые
      поступят в будущем), на получение и раскрытие сведений о выданных кредитах
      и всех сведений об их исполнении/неисполнении для целей предложения,
      рассмотрения возможности и оказания Компанией услуг, в том числе перечень
      которых отражен в Приложении к настоящему согласию, биометрических и/или
      иных данных/информации, полученных и переданных на текущий момент и
      которые могут быть получены и переданы в будущем, из всех/во все
      возможных(-ые) источников(-и), в том числе любых(-е) баз(-ы) данных, в том
      числе государственных(-е)/негосударственных(-ые), кредитных(-ые) бюро, НАО
      «Государственная корпорация «Правительства для граждан», дочерних(-ие)
      организаций(-ии) акционерного общества «Национальный управляющий холдинг
      «КазАгро» , в том числе содержащих налоговую, банковскую тайну, тайну
      пенсионных накоплений, и иную охраняемую законом тайну, то есть всех
      сведений, относящихся ко мне и моим близким родственникам, зафиксированных
      на электронном, бумажном и (или) ином материальном носителе, которые будут
      или стали известны Компании в процессе её деятельности и/или в рамках
      гражданско-правовых и иных отношений с контрагентами в рамках
      соответствующего договора, включая согласия:
    </p>
    <ul>
      <li>
        Компании - на предоставление и получение информации, сведений о выданном
        кредите/микрокредите и всех сведений об исполнении/неисполнении
        обязательств по договору о предоставлении кредита/микрокредита в
        государственные (в том числе правоохранительные) /негосударственные
        органы, средства массовой информации, а также акционерное общество
        «Национальный управляющий холдинг «КазАгро» и его дочерние организации;
      </li>
      <li>
        Компании – на сбор, обработку моих персональных, биометрических и/или
        иных данных (далее – данные), на передачу данных в кредитное бюро, на
        передачу кредитным бюро моих данных без ограничения юридическому лицу,
        осуществляющему деятельность по привлечению пенсионных взносов и
        пенсионным выплатам;
      </li>
      <li>
        юридическому лицу, осуществляющему деятельность по хранению данных о
        пенсионных взносах и пенсионным выплатам – предоставлять имеющуюся и
        поступающую обо мне в будущем информацию кредитному бюро, а также на
        предоставление кредитным бюро вышеуказанной информации Компании;
      </li>
      <li>
        юридическому лицу, осуществляющему деятельность по выплате пенсий и
        пособий – предоставлять имеющуюся и поступающую обо мне в будущем
        информацию Компании;
      </li>
      <li>
        Компании – на предоставление информации обо мне, как о субъекте
        кредитной истории, во все кредитные бюро, с которыми Компанией заключены
        договоры о предоставлении информации, а также таким кредитным бюро на
        выдачу кредитного отчета обо мне, включающего данные, которые поступят в
        кредитные бюро в будущем;
      </li>
      <li>
        кредитному бюро – на выдачу кредитного отчета из кредитного бюро,
        включая данные, которые поступят в будущем;
      </li>
      <li>
        государственным и негосударственным базам данных – на предоставление
        информации обо мне из всех государственных и негосударственных баз
        данных Компании или кредитному бюро напрямую или через третьих лиц;
      </li>
      <li>
        юридическому лицу, осуществляющему по решению Правительства Республики
        Казахстан деятельность по оказанию государственных услуг в соответствии
        с законодательством Республики Казахстан – предоставлять имеющуюся и
        поступающую в будущем обо мне информацию кредитному бюро и Компании
        посредством кредитного бюро.
      </li>
    </ul>

    <p>
      Клиент подтверждает, что каких-либо претензий к Компании касательно сбора,
      обработки, хранения вышеуказанных информации и данных в дальнейшем иметь
      не будет.
    </p>
    <p>
      Настоящее согласие является безусловным и бессрочным до момента отзыва, и
      не может быть отозвано, если это противоречит законам Республики
      Казахстан, либо при наличии неисполненного обязательства.
    </p>
    <p>
      Настоящим подтверждаю, что согласие моих близких родственников, перечень
      которых установлен законодательством Республики Казахстан, а также лиц,
      сведения о которых мною предоставлены, на сбор, обработку,
      распространение, хранение и использование любым допускаемым
      законодательством Республики Казахстан способом сведений и информации о
      них мной заблаговременно получено и они уведомлены, что данные сведения и
      информация мной будут предоставлены вышеуказанным субъектам в целях
      получения услуг и установления мной соответствующих деловых отношений.
    </p>
    <p>
      Также подтверждаю, что в случае необходимости по первому требованию
      Компании согласия вышеуказанных лиц предоставлены незамедлительно.
    </p>
    <p>Согласие предоставил</p>

    <p>
      Подпись:<span style="text-decoration: underline"
        >Подписано электронной цифровой подписью</span
      >
    </p>
    <p>
      Согласие принял
      <strong>
        Куанышев Бауржан Булатович – Директор Департамента оптимизации продуктов
        и процессов</strong
      >
    </p>
    <p>
      Подпись:<span style="text-decoration: underline"
        >Подписано электронной цифровой подписью</span
      >
    </p>
    <p>
      <strong
        >Приложение к согласию Перечень персональных данных, необходимый и
        достаточный для выполнения Компанией осуществляемых задач</strong
      >
    </p>
    <p>
      1) сведения, необходимые для заполнения анкеты, а также надлежащей
      идентификации (фамилия, имя, отчество (при наличии); гражданство; данные
      документа, удостоверяющего идентификационный номер; дата и данные о
      рождении; пол; фото; подпись; биометрические данные и пр.);
    </p>
    <p>
      2) сведения о семейном/социальном положении (данные свидетельства о
      заключении брака, фамилия, имя, отчество (при наличии) супруга(и),
      паспортные данные супруга(и); наличие/отсутствие иждивенцев и/или иных
      членов семьи; степень родства, фамилии, имена, отчества (при наличии) и
      даты рождения других членов семьи, иждивенцев; список физических лиц,
      официальным представителем и/или опекуном которых является субъект; другие
      сведения которыми правомерно владеет субъект и добровольно предоставил
      Компании);
    </p>
    <p>
      3) сведения, необходимые для поддержания связи (место прописки, место
      фактического нахождения (пребывания), место работы и должность; номер
      телефона (домашний, рабочий, сотовый), адрес электронной почты и пр.);
    </p>
    <p>
      4) сведения, связанные с оказание Компанией услуг (проведением операций,
      заключением сделок, выполнением действий) – тексты договоров (соглашений),
      дополнительных соглашений к нему, заявления, письма и согласия;
    </p>
    <p>5) сведения о цели и характере деловых отношений;</p>
    <p>
      6) сведения об образовании, профессиональной деятельности, служебном
      положении, деловой репутации: образование, профессия, квалификация
      (включая повышение квалификации), должность, ученая степень, ученое
      звание, членство в профессиональных палатах/организациях, владение
      иностранными языками и другие сведения; данные свидетельства о
      государственной регистрации индивидуального предпринимателя, данные
      лицензии на осуществление лицензируемой деятельности, аттестатов,
      патентов, дипломов, сертификатов; информация о наличии/отсутствии
      судимости, привлечении к уголовной/административной ответственности;
    </p>
    <p>
      7) сведения о кредитной (иной) истории субъекта, сведения, необходимые для
      оценки платежеспособности субъекта (пенсионные отчисления, сведения о
      доходах и расходах и пр.); сведения о наличии/отсутствии банковскихсчетов
      (номера текущих и сберегательных счетов, в том числе счета, имеющие
      специальное назначение,, вид, срок размещения, сумма, условия вклада и
      другие сведения); сведения о наличии/отсутствии кредитов (займов),
      денежных средств и ценных бумаг, в том числе в доверительном управлении и
      на доверительном хранении;
    </p>
    <p>
      8) сведения об имуществе (имущественном) положении: сведения об имуществе
      субъекта и/или имуществе третьих лиц, которое является обеспечением по
      кредиту (займу), а также об ином (любом) имуществе субъекта, изображение
      (фото) такого (любого) имущества в любом формате и т.д., сведения о
      наличии/отсутствии обременений (аресте) и притязаний на имущество;
      идентификационные данные, данные о наличии (отсутствии) регистрации,
      обременений, притязаний; общие характеристики имущества; стоимость; адрес
      (местонахождения) имущества, данные государственной регистрации и другие
      сведения);
    </p>
    <p>
      9) иные сведения, необходимые Компании, в том числе для заполнения анкеты,
      формирования досье (кредитного досье, клиентского/личного дела) в
      соответствии с требованиями законодательства Республики Казахстан и
      внутренних документов Компании (в том числе, информация об участии
      субъекта в капитале юридических лиц – доля участия, количество (доля)
      акций; занимаемые должности, а также информация об изменении и/или
      дополнении таких данных; перечень юридических и физических лиц,
      представителем которых является субъект, сведения,
      гарантом/поручителем/созаемщиком третьих лиц);
    </p>
    <p>
      10) информация об изменении и (или) дополнении вышеуказанных данных,
      <strong>используемая в нижеуказанных целях:</strong>
    </p>
    <div class="pl-sm-3 pl-1">
      <p>
        1) для рассмотрения заявки субъекта (заявки лица, представителем
        которого является субъект) на получение услуг, которые могут быть
        оказаны Компанией в соответствии с законодательством Республики
        Казахстан;
      </p>
      <p>
        2) для оказания субъекту (лицу, представителем которого является
        субъект) услуг, предусмотренных законодательством Республики Казахстан,
        которые будут оказаны субъекту (лицу, представителем которого является
        субъект) Компанией на условиях соответствующих договоров (соглашений);
      </p>
      <p>
        3) для рассмотрения возможности заключения и заключения сделок с
        Компанией, выполнения Компанией указанных субъектом действий
        (инструкций);
      </p>
      <p>
        4) для внутреннего контроля и учета Компанией, а также для контроля и
        подтверждения надлежащего исполнения субъектом (лицом, представителем
        которого является субъект) и Компанией своих обязательств, по
        соответствующим договорам (соглашениям);
      </p>
      <p>
        5) для выполнения обязанности по надлежащей проверке Компанией (как
        субъектом финансового мониторинга) своего клиента при установлении
        деловых отношений и осуществлении операций клиента в соответствии с
        законодательством Республики Казахстан, выполнения функций валютного
        контроля;
      </p>
      <p>
        6) для выполнения Компанией обязанности по идентификации клиента в целях
        минимизации риска несанкционированных операций в соответствии с
        законодательством Республики Казахстан;
      </p>
      <p>
        7) для выполнения Компанией обязанности по хранению документов,
        материалов, досье, установленных Национальным Банком Республики
        Казахстан, а также иными нормативными правовыми актами Республики
        Казахстан;
      </p>
      <p>
        8) для подтверждения осуществления между Компанией и субъектом (лицом,
        представителем которого является субъект) операций по соответствующим
        договорам (соглашениям) по запросу субъекта и/или третьих лиц, имеющих
        такое право в соответствии с законодательством Республики Казахстан;
      </p>
      <p>
        9) для судебной и внесудебной защиты прав Компании: (i) в случае
        нарушения обязательств по существующим договорам (соглашениям),
        неисполнения судебных решений; (ii) в случае возникновения спорных
        ситуаций, включая спорные ситуации с третьими лицами;
      </p>
      <p>
        10) для целей работы Компании с коллекторскими агентствами и/или иными
        специализированными лицами или работниками/представителями Компании,
        которым будет поручено осуществлять мероприятия по взысканию
        задолженности по соответствующим договорам (соглашениям), в случае
        нарушения обязательств по таким договорам (соглашениям), а также
        проведения торгов, связанных с реализацией заложенного имущества;
      </p>
      <p>
        11) для размещения публичных (раскрытых) данных и сведений в средствах
        массовой информации с соблюдением требований законодательства Республики
        Казахстан;
      </p>
      <p>
        12) для расчета максимального размера риска на одного заемщика и
        соблюдения пруденциальных и иных нормативов и лимитов, и проверки
        «прозрачности»;
      </p>
      <p>
        13) для взаимодействия Компании с третьими лицами (для взаимодействия
        третьих лиц друг с другом), которые имеют и/или могут иметь отношения к
        заключению и/или исполнению и/или обслуживанию любых сделок/операций,
        заключенных (которые возможно будут заключены) между субъектом (лицом,
        представителем которого является субъект) и Компанией;
      </p>
      <p>
        14) для предоставления отчетности и/или информации в уполномоченные
        органы, аудиторским, оценочным и иным компетентным организациям,
        государственным и частным кредитным бюро;
      </p>
      <p>15) для разработки, хранения и применения статистических моделей;</p>
      <p>
        16) для обмена информацией, в том числе для рассмотрения и/или
        предоставления отчетов на обращения субъекта (и/или третьих лиц),
        жалобы, предложения, рекомендации, претензии, поручения и т.д., передачи
        (получения) корреспонденции (почты) в адрес субъекта (в адрес лица,
        представителем которого является субъект) для отправки
        (доставки)/получения посредством услуг курьера, курьерской службы,
        экспресс почты и т.д.;
      </p>
      <p>
        17) для уступки Компанией прав требования по договорам (соглашениям),
        заключенным между субъектом (лицом, представителем которого является
        субъект) и Компанией, если такая уступка предусмотрена условиями
        соответствующих договоров (соглашений), заключенных между субъектом
        (лицом представителем которого является субъект) и Компаний (а также для
        целей заключения и/или реализации Компанией сделки(-ок) секьюритизации;
      </p>
      <p>
        18) для маркетинговых целей, проведения акций, предоставления
        (пересылки) субъекту любых информационных материалов, в том числе, о
        продуктах и/или услугах Компании, а также иных уведомлений посредством
        телефонной, факсимильной связи, иных видов связи, а также по открытым
        каналам связи (в том числе SМS, e- mail, факс, социальные сети и т.п.);
      </p>
      <p>
        19) для разработки маркетинговых и рекламных акций, дальнейшего
        банковского обслуживания, с учетом истории отношений субъекта (отношений
        лица, представителем которого является субъект) с Компанией;
      </p>
      <p>
        20) для взаимодействия Компании с третьими лицами, осуществляющими
        сервисное обслуживание субъекта (лица, представителем которого является
        субъект) в рамках банковского и иного обслуживания;
      </p>
      <p>
        21) для иных целей, которые установлены (могут быть установлены)
        законодательством Республики Казахстан.
      </p>
    </div>
  </div>
</section>
