.wrapper {
  position: relative;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 56px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row {
  cursor: pointer;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}
