#creditCommittee {
    background: #fff;
  
    .d-flex {
      button.indicator {
        margin-left: auto;
      }
  
      span.title {
        margin-left: 1rem;
      }
    }
}

#conditions{
  background: #fff;
}

#jurist-result-rework{
  background: #fff;
  line-height: 1.5;

  .d-flex {  
    span.title {
      margin-left: 1rem;
    }
  }
}