@import "variables";

.primary {
  color: $primary !important;
}

.accent {
  color: $accent !important;
}

.warn {
  color: $warn !important;
}

.green {
  color: green !important;
}

.grey {
  color: $grey !important;
}
