<div class="mh-400">
  <div class="absolute-container" *ngIf="loading" @fadeInOut>
    <app-loader></app-loader>
  </div>
  <mat-tab-group *ngIf="startLoadingApplications" [selectedIndex]="currentTab">
    <mat-tab label="Мои договора">
      <app-contracts-list></app-contracts-list>
    </mat-tab>
    <mat-tab label="Мои заявки">
      <app-applications-list></app-applications-list>
    </mat-tab>
    <mat-tab label="Мои документы">
      <app-attachments-list></app-attachments-list>
    </mat-tab>
    <mat-tab label="Уведомления">
      <app-notifications></app-notifications>
    </mat-tab>
    <mat-tab label="Контакты">
      <app-contacts></app-contacts>
    </mat-tab>
  </mat-tab-group>
</div>
