<form
  *ngIf="locale$ | async as locale"
  (ngSubmit)="submit()"
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
>
  <div class="header-container mb-3">
    <h3>{{ locale.title }}</h3>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-2 order-md-1">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.email }}</mat-label>
        <input autocomplete="email" formControlName="email" matInput />
        <button mat-button matSuffix type="button">@fagri.kz</button>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-3">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.iin }}</mat-label>
        <input formControlName="iin" matInput />
        <mat-hint
          class="warn"
          align="end"
          @fadeInOut
          *ngIf="iin().touched && iin().errors && iin().errors.invalidIin"
        >
          {{ iin().errors.message }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-5">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.firstName }}</mat-label>
        <input formControlName="firstName" matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-7">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.lastName }}</mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-9">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.middleName }}</mat-label>
        <input formControlName="middleName" matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-2">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.password }}</mat-label>
        <input
          autocomplete="new-password"
          formControlName="password"
          matInput
        />
        <mat-hint
          class="warn"
          @fadeInOut
          *ngIf="
            password().touched &&
            password().errors &&
            password().errors.invalidPassword
          "
          align="end"
        >
          {{ password().errors.message }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-4">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.confirmPassword }}</mat-label>
        <input
          autocomplete="new-password"
          formControlName="confirmPassword"
          matInput
        />
        <mat-hint
          class="warn"
          @fadeInOut
          *ngIf="
            confirmPassword().touched &&
            confirmPassword().value !== password().value
          "
          align="end"
        >
          {{ locale.passwordHint }}
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-6">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.phone }}</mat-label>
        <input autocomplete="tel" formControlName="phone" matInput />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-8">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.position }}</mat-label>
        <mat-select formControlName="position">
          <mat-option [value]="0">{{ locale.notSelected }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 mb-2 order-md-10">
      <mat-form-field appearance="fill">
        <mat-label>{{ locale.organization }}</mat-label>
        <mat-select formControlName="organization">
          <mat-option [value]="0">{{ locale.notSelected }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-flat-button color="primary">{{ locale.registerUser }}</button>
</form>
